[submodule "cookbooks/dmlb2000_pipeline"]
	path = cookbooks/dmlb2000_pipeline
	url = git@github.com:dmlb2000/dmlb2000_pipeline.git
[submodule "cookbooks/dmlb2000_chef"]
	path = cookbooks/dmlb2000_chef
	url = git@github.com:dmlb2000/dmlb2000_chef.git
[submodule "cookbooks/dmlb2000_distro"]
	path = cookbooks/dmlb2000_distro
	url = git@github.com:dmlb2000/dmlb2000_distro.git
[submodule "cookbooks/dmlb2000_server"]
	path = cookbooks/dmlb2000_server
	url = git@github.com:dmlb2000/dmlb2000_server.git
[submodule "cookbooks/dmlb2000_users"]
	path = cookbooks/dmlb2000_users
	url = git@github.com:dmlb2000/dmlb2000_users.git
[submodule "cookbooks/dmlb2000_chefdk"]
	path = cookbooks/dmlb2000_chefdk
	url = git@github.com:dmlb2000/dmlb2000_chefdk.git
[submodule "cookbooks/dmlb2000_desktop"]
	path = cookbooks/dmlb2000_desktop
	url = git@github.com:dmlb2000/dmlb2000_desktop.git
[submodule "cookbooks/dmlb2000_docker"]
	path = cookbooks/dmlb2000_docker
	url = git@github.com:dmlb2000/dmlb2000_docker.git
